.table-view .column-header {
    -fx-background-color: #d0b30d;
    -fx-border-style: none;
}

.table-view .column-header:hover{
    -fx-background-color:   #d0b30d;
}

.table-view .table-row-cell:filled:selected{
    -fx-background-color:  #d0b30d;
}
